ner.ipynb
vid1.ipynb
vid11.ipynb
hp_ner/config.cfg
hp_ner/meta.json
hp_ner/tokenizer
hp_ner/ner/cfg
hp_ner/ner/model
hp_ner/ner/moves
hp_ner/vocab/key2row
hp_ner/vocab/lookups.bin
hp_ner/vocab/strings.json
hp_ner/vocab/vectors
hp_ner_model/config.cfg
hp_ner_model/meta.json
hp_ner_model/tokenizer
hp_ner_model/ner/cfg
hp_ner_model/ner/model
hp_ner_model/ner/moves
hp_ner_model/vocab/key2row
hp_ner_model/vocab/lookups.bin
hp_ner_model/vocab/strings.json
hp_ner_model/vocab/vectors
alice_in_wonder_land.txt
